:root {
  --color--slate-950: #0e1118;
  --color--slate-900: #181c25;
  --color--slate-850: #202632;
  --color--slate-800: #2a3140;
  --color--slate-750: #333c4e;
  --color--slate-700: #3d475c;
  --color--slate-650: #48536b;
  --color--slate-600: #525f7a;
  --color--slate-550: #5d6b89;
  --color--slate-500: #687899;
  --color--slate-450: #7385a9;
  --color--slate-400: #8191b5;
  --color--slate-350: #909ebe;
  --color--slate-300: #a0acc7;
  --color--slate-250: #b0b9d0;
  --color--slate-200: #bfc7d9;
  --color--slate-150: #cfd5e2;
  --color--slate-100: #dfe3eb;
  --color--slate-50 : #eff1f4;
  --color--slate    : var(--color--slate-600);
  --color-red-450   : #ee402e;

  --axis-horizontal: 25%;
  --axis-vertical  : 50%;

  font-family            : Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height            : 1.5;
  font-weight            : 400;
  font-size              : clamp(14px, 1.5vw, 16px);
  color                  : var(--color--slate-750, #333c4e);
  background-color       : var(--color--slate-50, #eff1f4);
  font-synthesis         : none;
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin      : 0;
  padding     : 0;
  width       : 100%;
  height      : 100vh;
  overflow    : hidden;
  display     : block;
  position    : relative;
  accent-color: var(--color-red-450, #ee402e);
}

.hidden {
  display: none !important;
}

header {
  margin          : 0;
  padding         : 0 1rem 0 1rem;
  height          : 2rem;
  background-color: var(--color--slate, #525f7a);
  color           : var(--color--slate-50, #eff1f4);
  display         : flex;
  justify-content : space-between;
  align-items     : stretch;
  flex-direction  : row;
}

h1,
h2,
h3 {
  margin     : 0;
  padding    : 0;
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  font-size    : 1.5rem;
  margin-top   : 1rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size    : 1.25rem;
  margin-top   : 0.75rem;
  margin-bottom: 1.25rem;
}

h3 {
  font-size    : 1rem;
  margin-top   : 0.5rem;
  margin-bottom: 1.25rem;
}

p {
  margin : 0;
  padding: 0 0 0.5rem 0;
}

ul {
  margin    : 0 0 0.5rem 2rem;
  padding   : 0;
  list-style: square;
}

kbd {
  display         : inline-block;
  margin          : 0;
  padding-inline  : 0.25rem;
  border-radius   : 0.25rem;
  border          : 1px solid var(--color--slate-750, #333c4e);
  background-color: var(--color--slate-700, #3d475c);
  color           : var(--color--slate-50, #eff1f4);
  font-size       : 0.9em;
  font-family     : monospace;
}

.layout {
  margin     : 0;
  padding    : 0;
  place-items: center;
  width      : 100%;
  height     : calc(100vh - 2rem);
  overflow   : hidden;

  display              : grid;
  grid-template-columns: 50% 50%;
  justify-content      : space-between;
  align-items          : stretch;
}

.layout.w50 {
  grid-template-columns: 50% 50%;
}

.layout.w66 {
  grid-template-columns: 66% 34%;
}

.layout.w100 {
  grid-template-columns: 100% 0%;
}

.layout__left,
.layout__right {
  display: block;
  width  : 100%;
  height : 100%;
}

.layout__frame {
  display: block;
  margin : 0;
  padding: 0;
  border : none;
}

.axis {
  position        : absolute;
  top             : 0;
  left            : 0;
  display         : block;
  background-color: var(--color-red-450, #ee402e);
  z-index         : 2000;
  pointer-events  : none;
}

.axis__horizontal {
  top      : 0;
  left     : 0;
  transform: translateY(var(--axis-vertical, 50%));
  width    : 100vw;
  height   : 1px;
}

.axis__vertical {
  top   : 2rem;
  left  : 0;
  width : 1px;
  height: calc(100vh - 2rem);
}

.axis__vertical--left {
  transform: translateX(var(--axis-horizontal, 25%));
}

.axis__vertical--right {
  left     : 50%;
  transform: translateX(calc(var(--axis-horizontal, 25%)));
}

/*
body:has(.layout.w66) .axis__vertical--left {
  left: 33%;
}

body:has(.layout.w66) .axis__vertical--right {
  left: 83%;
}
*/
.choice {
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
  align-items    : stretch;
  flex-wrap      : nowrap;
  gap            : 0;
}

.choice.js-map-type {
  justify-content: flex-end;
}

.choice input[type="radio"],
.choice input[type="checkbox"] {
  display: none;
}

.choice input:checked+label {
  color           : var(--color--slate-50, #eff1f4);
  background-color: var(--color-red-450, #ee402e);
}

.choice label {
  display    : block;
  margin     : 0;
  padding    : 0 0.5rem;
  height     : auto;
  line-height: 2rem;
  cursor     : pointer;
  transition : background-color 0.2s ease-in-out;
  border     : none;
  outline    : none;
  text-align : center;
}

.choice label:hover {
  background-color: var(--color-red-450, #ee402e);
}

.css-toggle-navigation {
  display: none;
}

/* Add dropdown functionality for mobile */

@media screen and (max-width: 768px) {
  header {
    padding              : 0;
    margin               : 0;
    height               : 2rem;
    min-height           : 2rem;
    overflow             : hidden !important;
    display              : grid;
    grid-template-columns: 100% 0 0 0;
    position             : absolute;
    width                : 100%;
    z-index              : 1100;
    top                  : 0;
    left                 : 0;
    right                : 0;
  }

  body:has(#toggle:checked) header {
    grid-template-columns: 3rem 2fr 1fr 1fr;
    height               : auto;
  }

  .choice {
    flex-direction: column;
    gap           : 0.5rem;
  }

  .choice.js-map-type {
    justify-content: flex-start;
  }

  .choice.css-about {
    display: none;
  }

  .axis {
    display: none;
  }

  .layout {
    padding-top: 2rem;
  }

  .css-toggle-navigation {
    display: block;
  }
}

#about-dialog {
  display         : none;
  position        : absolute;
  top             : 50%;
  left            : 50%;
  transform       : translate(-50%, -50%);
  min-width       : 50%;
  min-height      : 40%;
  width           : auto;
  max-width       : 80%;
  max-height      : 80%;
  color           : var(--color--slate-50, #eff1f4);
  background-color: var(--color--slate, #525f7a);
  z-index         : 1000;
  overflow        : auto;
  border-radius   : 1rem;
  border          : none;
  box-shadow      : 0 15px 30px 0 rgba(0, 0, 0, 0.45);
}

#about-dialog a {
  color          : var(--color--slate-50, #eff1f4);
  text-decoration: underline;
}

body:has(#about:checked) #about-dialog {
  display: block;
}

.button {
  display         : block;
  margin          : 0;
  padding         : 0 0.5rem;
  height          : auto;
  line-height     : 2rem;
  cursor          : pointer;
  transition      : background-color 0.2s ease-in-out;
  border          : none;
  outline         : none;
  color           : var(--color--slate-50, #eff1f4);
  background-color: var(--color-red-450, #ee402e);
}

#close-about {
  position: absolute;
  right   : 1rem;
  top     : 1rem;
}