:root {
  font-family            : Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height            : 1.5;
  font-weight            : 400;
  font-size              : 16px;
  color                  : #333;
  background-color       : white;
  font-synthesis         : none;
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin  : 0;
  padding : 0;
  width   : 100%;
  height  : 100vh;
  overflow: hidden;
  display : block;
  position: relative;
}

.hidden {
  display: none !important;
}

.layout {
  margin     : 0;
  padding    : 0;
  place-items: center;
  width      : 100%;
  height     : 100vh;
  overflow   : hidden;

  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : stretch;

}

.layout__left,
.layout__center,
.layout__right {
  display: block;
  width  : 100%;
  height : 100%;
}

.layout__frame {
  display: block;
  margin : 0;
  padding: 0;
  border : none;
}

.axis {
  position        : absolute;
  top             : 0;
  left            : 0;
  display         : block;
  background-color: orangered;
  z-index         : 2000;
  pointer-events  : none;
}

.axis__horizontal {
  top   : 50%;
  left  : 0;
  width : 100vw;
  height: 1px;
}


.axis__vertical {
  top   : 0;
  left  : 0;
  width : 1px;
  height: 100vh;
}

.axis__vertical--left {
  left: 16.66666667%;
}

.axis__vertical--center {
  left: 50%;
}

.axis__vertical--right {
  left: 83.33333333%;
}

#app:has(.layout__left.hidden) .axis__vertical--left {
  display: none;
}

#app:has(.layout__left.hidden) .axis__vertical--center {
  left: 25%;
}

#app:has(.layout__left.hidden) .axis__vertical--right {
  left: 75%;
}

#app:has(.layout__right.hidden) .axis__vertical--right {
  display: none;
}

#app:has(.layout__right.hidden) .axis__vertical--left {
  left: 25%;
}

#app:has(.layout__right.hidden) .axis__vertical--center {
  left: 75%;
}

#app:has(.layout__left.hidden ~ .layout__right.hidden) .axis__vertical--center {
  left: 50%;
}